@import url(https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);


$black-color: #121212;
$gray-color: #a4a4a4;
$red-color: rgba(219, 40, 40, 0.856);
$green-color: rgba(14, 156, 14, 0.848);